$blue: #4036A9;
$dark: #111729;
$grey: #CDD5E0;
$main-bg: #7E51B8;
$light-grey: #F8FAFC;
$white: #FFFFFF;

//Typographies
$family: "Be Vietnam Pro", sans-serif;
$big-text: 64px;
$medium-text: 32px;
$butten-text: 20px;
$body-text: 16px;
$label-text: 14px;
